@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones {
    display: flex;
    justify-content: space-between;

    font-size: 1.35rem;
    margin: 0 0 3rem 0;

    &__enlace {
        color: var(--color-primary);
        border-bottom: solid 1px var(--color-primary);
        transition: all .2s ease-in-out;

        &:hover {
            color: var(--color-secondary);
            border-bottom: solid 1px var(--color-secondary);
        }
    }

    &__unique {
        justify-content: center;
        text-align: center;
    }
}