@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.filtros-contenedor {
    all: unset;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    top: 5rem;
    right: -63px;
    width: 30rem;
    cursor: auto;
    padding: 2rem .5rem;
    border-radius: 2rem;

    @include m.tablet {
        flex-wrap: nowrap;
        gap: 4rem;
        width: auto;
        right: 0;
        padding: 1.5rem 2rem;
        border-radius: 5rem;
    }

    @include m.xl_desktop {
        right: unset;
        left: 0;
    }

    background-color: var(--color-surface);
    border: solid 1px var(--color-primary);
    color: var(--color-text);
    font-size: 1.6rem;

    opacity: 0;
    transform: scale(0) translateY(-12rem);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}

.filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--color-primary);
    padding: 1rem;
    width: 12rem;
    position: relative;
    cursor: pointer;
    border-radius: 1rem;

    @include m.tablet {
        width: 15rem;
        border-radius: 5rem;
    }

    span {
        color: var(--color-text);
        font-size: 2rem;

        transition: all .1s ease-in-out;
    }

    &__header {
        all: unset;
        font-size: 1.6rem;
    }

    &__listado {
        @include m.reset-lista;
        position: absolute;
        top: 50px !important;
        left: 0;
        padding: 1rem;
        background: var(--color-surface);
        overflow: scroll;
        max-height: 20rem;
        border: solid 1px var(--color-primary);
        opacity: 0;
        transform: scale(0);
        transition: all .2s ease-in;
        min-width: 12.5rem;

        @include m.tablet {
            min-width: auto;
        }
    }
    &__item {
        border-bottom: solid 1px var(--color-primary);
        padding: .5rem;
        margin-bottom: 1rem;
    }
}

.filtros-contenedor.mostrar {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.filtros__aplicar {
    all: unset;
    background-color: var(--color-primary);
    color: var(--blanco);
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .1s ease-in;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: .5rem;

    @include m.tablet {
        border-radius: 5rem;
    }

    p {
        margin: 0;
        font-size: 1.6rem;
    }

    &:hover {
        background-color: var(--color-primary-hover);
    }
}

.filtro.abierto .filtro__listado {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    top: 35px;
}
.filtro.abierto {
    background-color: var(--color-surface-lightness-alt);
    span {
        transform: rotate(180deg);
    }
}