@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    background: var(--color-bg);
    min-height: 100vh;
    background: linear-gradient(149deg, var(--color-surface-alt) 0%, var(--color-bg) 50%);
    background-attachment: fixed;
}
body.menu-abierto {
    overflow: hidden;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}