@use 'variables' as v;
@use 'sass:color';

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    color: $colorTexto;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    cursor: pointer;

    transition: all 0.3s;
    position: relative;

    span {
        color: var(--blanco);
        transition: all .5s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 5rem;
        transition: all 0.3s;
    }
    &:hover::before {
        opacity: 0 ;
        transform: scale(0.5,0.5);
        border-radius: 5rem;
    }

    &::after {
        border-radius: 5rem;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border: 1px solid $bgColor;
        transform: scale(1.5, 1.5);
    }
    &:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }
    &:hover {
        background-color: transparent;
        color: $bgColor;

        span {
            color: $bgColor;
            animation: big-to-normal .3s linear;
        }
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin contenedor {
    max-width: 140rem;
    width: min(95%, 140rem);
    margin: 0 auto;
    box-sizing: border-box;
}
@mixin contenedor-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}
@mixin contenedor-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}
@mixin headings {
    font-family: v.$fuente_secundaria;
    font-weight: v.$bold;
}
@mixin nombre-pagina {
    @include headings;
    font-size: 4.5rem;
    font-weight: v.$bold;
    margin: 2rem 0 0 0;
}
@mixin descripcion-pagina {
    font-size: 1.8rem;
    font-weight: v.$delgada;
    color: var(--color-text-muted);
    margin: 1rem 0 4rem 0;
}
@mixin texto-fluido($min, $max) {
    font-size: clamp($min, 2.5vw + 1rem, $max);
}
@mixin texto-degradado($inicio, $final) {
    background: linear-gradient(to right, $inicio, $final);
    background-clip: text;
    color: transparent;
    text-align: center;
    @include tablet {
        text-align: left;
        display: inline-block;
    }
}

@mixin logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    color: var(--color-text);
    white-space: nowrap;

    @include desktop {
        margin: 0;
    }
}
@mixin logo-svg {
    font-size: clamp(3.5rem, 4vw, 5rem);
    flex-shrink: 1;
    min-width: 0;

    color: var(--color-primary) !important;
}
@mixin logo-titulo {
    @include texto-fluido(2.5rem, 3.5rem);
    color: var(--color-text);
    margin: 0;
    white-space: nowrap;
}

@mixin menu-social($color, $size) {

    &__enlace {

        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }

        &[href*="facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="github.com"]::before {
            content: "\f09b";
        }
        &[href*="tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="youtube.com"]::before {
            content: "\f167";
        }
        &[href*="x.com"]::before {
            content: "\e61b";
        }
    }
    &__ocultar {
        display: none;
    }
}
@mixin enlace {
    color: var(--color-text-muted);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: v.$bold; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color .2s ease-out;
    
    &:hover {
        color: var(--color-primary);
    }
}
@mixin shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin tags {
    @include reset-lista;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    > li {
        background-color: var(--azul);
        color: var(--color-text-inverse);
        padding: 1rem;
        border-radius: .5rem;
        font-size: 1.4rem;
        font-weight: v.$bold;
    }
}

@mixin card {
    border: var(--color-border);
    padding: 3rem;

    &__nombre {
        font-weight: var(--color-text);
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}

@mixin bg-gradient($bg_color) {
    background-image: linear-gradient(to left top, var(--color-primary), var(--color-primary-active));
}