// Fuentes
$fuente-principal: "Plus Jakarta Sans", sans-serif;
$fuente-secundaria: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

:root {
    --color-bg: #ebe9e6;
    --color-surface: #F8F4F4;
    --color-surface-alt: #e2ded5;

    --color-surface-extra: #E6D7D7;
    --color-primary-mode: #8B5CF6;

    --color-border: #F47B25;

    --color-text: #11130F;
    --color-text-muted: #8A7260;
    --color-text-muted-bold: #8A7260;
    --color-text-inverse: #F8F4F4;

    --color-primary: #f49325;
    --color-primary-hover: #d4960e;
    --color-primary-active: #ffad14;

    --color-secondary: #8A7260;

    --color-success: #1eda56;
    --color-warning: #f1c40f;
    --color-error: #e43b28;

    --color-overlay: rgba(0, 0, 0, 0.4);
    --color-shadow: rgba(0, 0, 0, 0.6);

    --opacity: .96;

    --negro: #11130f;
    --blanco: #f8f4f4;
    --blanco_oscuro: #E6D7D7;
    --gris: #64748B;
    --gris-claro: #d0d5d8;
    --gris-oscuro: #1E293B;

    --rojo: #b81414;
    --azul: #1187f5;
    --verde: #26eb26;
}

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900