@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.admin-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.tablet {
        align-items: normal;
        gap: 3rem;
    }

    &__campo {
        display: flex;
        flex-direction: column;
        margin: 0;
        max-width: 100%;

        position: relative;
    }
    &__campo--filtros {
        @extend .admin-formulario__campo;
        
        @include m.tablet {
            max-width: 355px;
        }
    }
    &__label {
        line-height: 3rem;
        color: var(--color-text-muted);
        font-size: 1.5rem;

        @include m.tablet {
            font-size: 1.5rem;
        }
    }
    &__input {
        all: unset;
        padding: 1rem 2rem;
        border-radius: 5rem;
        color: var(--color-text-muted);
        background-color: var(--color-bg);
        width: calc(100% - 40px);
        font-size: 1.6rem;

        @include m.tablet {
            font-size: 1.9rem;
        }
    }

    &__filtros {
        display: flex;
        gap: 2rem;
        width: 100%;
        flex-direction: column;
        margin: 7rem 0;

        @include m.tablet {
            flex-direction: row;
            gap: 4rem;
            margin: 3rem 0;
        }
    }
    &__filtro {
        display: flex;
    }
    &__search-field {
        all: unset;
        padding: 1rem 2rem;
        border-radius: 5rem 0 0 5rem;
        color: var(--color-text-muted);
        background-color: var(--color-bg);
        font-size: 1.6rem;
        width: 100%;

        @include m.tablet {
            font-size: 1.9rem;
        }
    }
    &__add-form {
        all: unset;
    }
    &__add-button {
        all: unset;
        background-color: var(--color-primary);
        color: var(--blanco);
        border-radius: 0 5rem 5rem 0;
        padding: 1.2rem;
        font-size: 1.7rem;
        font-weight: v.$black;
        box-shadow: 0px 2px 7px 0px var(--color-primary-active);
        transition: all .2s ease-out;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 7px 3px var(--color-primary-active);
        }
    }

    &__contenedor-filtros {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1rem !important;
        @include m.reset-lista;
    }
    &__filtro-DOM {
        border-radius: 2rem;
        padding: .5rem 1rem;
        background-color: var(--color-surface-lightness-alt);
        color: var(--color-primary);
        font-size: 1.2rem;
        font-weight: v.$bold;
        text-transform: uppercase;
        border: 2px solid var(--color-primary);
        text-align: center;
        cursor: pointer;
    }


    &__submit {
        align-self: center;
        width: 100%;
        margin: 8rem 0 1rem 0;

        @include m.tablet {
            align-self: flex-end;
            width: auto;
            margin: 3rem 0 1rem 0;
        }
    }

    &__imagen-head {
        line-height: 1.5rem;
        color: var(--color-text-muted);
        font-size: 1.5rem;
        font-weight: v.$black;

        @include m.tablet {
            font-size: 1.5rem;
        }
    }

    &__upload {
        margin: 7rem 0;

        @include m.tablet {
            margin: 3rem 0;
        }
    }
}

.listado-filtros {
    @include m.reset-lista;
    position: absolute;
    top: 115%;
    left: 0;
    z-index: 100;

    background-color: var(--color-surface);
    color: var(--color-text);
    border-radius: 0 0 2rem 2rem;
    border: 2px solid var(--color-primary);
    border-top: none;
    width: 100%;
    text-align: center;

    opacity: 0;
    transform: scale(0) translateY(-12rem);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;

    &__filtro {
        line-height: 3rem;
        cursor: pointer;
        border-bottom: 2px solid var(--color-primary);
        padding: .5rem 2rem;

        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 2rem 2rem;
        }

        &:hover {
            background-color: var(--color-surface-lightness-alt);
        }
    }

    &__mainpage {
        text-align: left
    }

    &__filtro--error {
        @extend .listado-filtros__filtro;
        color: var(--rojo);
    }

    &--principal {
        width: 150%;
    }
}
.listado-filtros.mostrar {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.admin-formulario__slider {
    width: 100%;

    &__text {
        color: var(--color-text-muted);
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &__range {
        -webkit-appearance: none;
        appearance: none;
        height: .5rem;
        border-radius: 5rem;
        width: 100%;
        background: linear-gradient(to right, var(--color-range-slider) 0%, var(--color-primary) 100%);
    }
    &__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 22px;
        height: 22px;
        background: var(--color-primary);
        border-radius: 50%;
        cursor: pointer;
        margin-top: 1px;
    }
    &__range::-moz-range-thumb {
        width: 22px;
        height: 22px;
        background: var(--color-primary);
        border-radius: 50%;
        cursor: pointer;
        margin-top: 1px;
    }

    &__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        background-color: var(--color-primary);
        width: 7rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        font-weight: v.$bold;

        span {
            color: var(--blanco);
            font-size: 1.5rem;
            font-weight: v.$bold;
        }

        @include m.tablet {
            font-size: 1.7rem;

            span {
                font-size: 1.7rem;
            }
        }
    }
}

.upload-zone {
    width: 100%;
    border: 2px dashed var(--color-text-muted);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-bg);
    color: var(--color-text-muted);

    &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-text);
        color: var(--blanco);
    }

    span {
        color: var(--color-primary-mode);
    }
}
.upload-zone.dragover {
    border-color: var(--verde);
    background-color: var(--color-surface-lightness-alt);
    color: var(--verde);
}
.upload-preview img {
    margin-top: 1rem;
    max-width: 200px;
    border-radius: 12px;
}


.tox {
  border-radius: 12px;
}

.tox-editor-container {
  background-color: #111;
}

.tox-toolbar {
  background-color: #1a1a1a;
}

.tox-statusbar {
  background-color: #1a1a1a;
}
