@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.bloques__grid {
    display: grid;
    @include m.grid(1, 3rem);
    
    @include m.tablet {
        @include m.grid(2, 3rem);
    }
}

.bloque {
    background: var(--color-thead);
    color: var(--blanco);
    padding: 1rem 2rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__title {
        font-size: 2rem;
        color: var(--color-text);

        @include m.tablet {
            font-size: 3rem;
        }
    }
    &__numero {
        font-weight: v.$bold;
        font-size: 1.8rem;
        background-color: var(--color-primary);
        padding: 1.5rem 2.2rem;
        border-radius: 1.5rem;
        margin-right: 2rem;
        letter-spacing: .2rem;

        @include m.tablet {
            font-size: 2.4rem;
        }
    }

}