@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.bloques__grid {
    display: grid;
    @include m.grid(1, 3rem);
    
    @include m.tablet {
        @include m.grid(2, 3rem);
    }
}

.bloque {
    background: var(--color-thead);
    color: var(--blanco);
    padding: 1rem 2rem;
    border-radius: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 14px 28px, rgba(0, 0, 0, 0.16) 0px 10px 10px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translate(.3rem, .3rem);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 17px 32px, rgba(0, 0, 0, 0.18) 0px 13px 11px;
    }

    &__title {
        font-size: 2rem;
        color: var(--color-text);
        margin: 2.5rem 0;

        @include m.tablet {
            font-size: 3rem;
        }
    }
    &__numero {
        font-weight: v.$bold;
        font-size: 1.8rem;
        background-color: var(--color-primary);
        padding: 1.5rem 2.2rem;
        border-radius: 1.5rem;
        margin: 0 2rem 0 0;
        letter-spacing: .2rem;

        @include m.tablet {
            font-size: 2.4rem;
        }
    }

    &__save-pages {
        all: unset;
        background-color: var(--color-primary);
        color: var(--blanco);
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: all .1s ease-in-out;
        padding: 1.5rem 2.2rem;
        margin-right: 1rem;

        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    &__total-pages {
        all: unset;
        font-weight: v.$bold;
        font-size: 1.8rem;
        background-color: var(--color-primary);
        padding: 1.5rem 2.2rem;
        border-radius: 1.5rem;
        margin: 0 2rem 0 0;
        letter-spacing: .2rem;
        width: 3rem;
        transition: all .1s ease-in-out;

        &:hover {
            background-color: var(--color-primary-hover);
        }

        @include m.tablet {
            font-size: 2.4rem;
        }
    }
}

.bloque__special-pages {
    @extend .bloque;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
    }
}