@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.mobile-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0;
    padding: 1.5rem;
    background-color: var(--color-surface);
    border-radius: 2rem;
    gap: 1.2rem;
    border: 1px solid var(--color-primary);

    @include m.tablet {
        display: none;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }
    &__foot {
        display: flex;
        align-items: center;
        gap: 4rem;
        font-size: 1.5rem;
        color: var(--color-text-muted);
    }
    &__acciones {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        span {
            font-size: 2rem;
        }
    }

    &__title {
        color: var(--color-text);
        font-weight: v.$bold;
    }

    &__date {
        display: flex;
        align-items: center;
        gap: .5rem;

        span {
            font-size: 2rem;
            color: var(--color-text-muted);
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: .3rem;

        span {
            font-size: 2rem;
            color: var(--color-primary);
        }
    }
}