@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.mobile-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0;
    padding: 1.5rem;
    background-color: var(--color-surface);
    border-radius: 2rem;
    gap: 1.2rem;
    border: 1px solid var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all .1s ease-in;

    &:hover {
        transform: translate(2px, 2px);
        box-shadow: rgba(85, 85, 134, 0.25) 0px 2px 5px -1px, rgba(182, 182, 182, 0.3) 0px 1px 3px -1px;
    }

    @include m.tablet {
        display: none;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
    }
    &__foot {
        display: flex;
        align-items: center;
        gap: 4rem;
        font-size: 1.5rem;
        color: var(--color-text-muted);
    }
    &__acciones {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        span {
            font-size: 2rem;
        }
    }

    &__title {
        color: var(--color-text);
        font-weight: v.$bold;
    }

    &__date {
        display: flex;
        align-items: center;
        gap: .5rem;

        span {
            font-size: 2rem;
            color: var(--color-text-muted);
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: .3rem;

        span {
            font-size: 2rem;
            color: var(--color-primary);
        }
    }
}