@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.article {
    @include m.contenedor-l;

    &__title {
        color: var(--color-text-titles);
        @include m.texto-fluido(3.5rem, 6rem);
        border-bottom: solid 1px var(--color-text);
        margin: 3rem 0 4rem 0;
        text-align: center;

        @include m.tablet {
            margin: 7rem 0 5rem 0;
            text-align: left;
        }
    }
    &__grid {
        display: block;
        margin-bottom: 8rem;

        @include m.tablet {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
    &__top-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    &__bottom-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        @include m.tablet {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }
    }
    &__top-left {
        color: var(--color-text-titles);
        font-size: 3.5rem;
        font-weight: v.$bold;
        margin: 0;

        @include m.tablet {
            margin: 0 0 3rem 0 !important;
        }
    }
    &__section-single {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: .3rem 0;
    }
    &__every-section {
        padding: 2rem;
        &:nth-child(even) {
            background-color: var(--color-surface);
        }

        @include m.tablet {
            &:nth-child(even) {
                background-color: transparent;
            }
            padding: 0;
        }
    }
    &__section-title-contenedor {
        display: flex;
        align-items: center;
        gap: .5rem;
        
        span {
            font-size: 2.3rem;
            font-weight: v.$regular;
        }

        @include m.tablet {
            margin: 4rem 0 0 0;
        }
    }
    &__date {
        font-size: 3rem;
        color: var(--color-text-muted);
        font-weight: v.$bold;
        text-align: left;
    }
    &__section-titles {
        color: var(--color-text-muted);
        margin: 0;
    }
    &__section-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1rem !important;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        list-style: none;
    }
    &__section-rating {
        color: var(--color-primary);
        font-size: 2.4rem;
        font-weight: v.$bold;
        margin: 1rem 0;
    }
    &__image-contenedor {
        width: 60%;
        min-width: 300px;
        margin: 0 auto;
        border-radius: 3rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        img {
            width: 100%;
            min-width: 300px;
            height: auto;
            object-fit: cover;
        }
    }
    &__text {
        margin-top: 5rem;
        color: var(--color-text);
        line-height: 1.4;
        font-size: 1.75rem;

        a {
            color: var(--color-primary);
            text-decoration: underline;
        }

        p:first-of-type::first-letter {
                font-size: 3em;
                line-height: 1;
                float: left;
                margin-right: 0.1em;
        }
    }
}

.grid-top-left {
    grid-area: top-left;
}
.grid-top-right {
    grid-area: top-right;
    
}
.grid-bottom-left {
    grid-area: bottom-left;
}
.grid-bottom-right {
    grid-area: bottom-right;
}