@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.article {
    @include m.contenedor-l;

    &__title {
        color: var(--color-text);
        @include m.texto-fluido(3.5rem, 6rem);
        border-bottom: solid 1px var(--color-text);
        margin: 3rem 0 4rem 0;
        text-align: center;

        @include m.tablet {
            margin: 7rem 0 5rem 0;
            text-align: left;
        }
    }
    &__grid {
        display: block;
        margin-bottom: 8rem;

        @include m.tablet {
            display: grid;
            grid-template-columns: minmax(200px, 15%) 1fr;
        }
    }
    &__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "top-left top-right"
            "bottom-left bottom-right"
        ;
        margin-bottom: 2rem;

        @include m.tablet {
            display: block;
        }
    }
    &__every-section {
        padding: 2rem;
        &:nth-child(even) {
            background-color: var(--color-surface);
        }

        @include m.tablet {
            &:nth-child(even) {
                background-color: transparent;
            }
            padding: 0;
        }
    }
    &__date {

        @include m.tablet {
            border-bottom: solid 1px var(--color-primary);
            padding: 0 0 2rem 0;
            text-align: left;
        }
    }
    &__day {
        font-size: 4.5rem;
        color: var(--color-primary);
        font-weight: v.$black;

        @include m.tablet {
            font-size: 5.5rem;
            color: var(--color-primary);
            font-weight: v.$black;
        }
    }
    &__year {
        font-size: 1.5rem;
        color: var(--color-text-muted);

        @include m.tablet {
            font-size: 1.7rem;
        }
    }
    &__section-titles {
        color: var(--color-text-muted);
        margin: 0;

        @include m.tablet {
            margin: 4rem 0 0 0;
        }
    }
    &__section-contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1rem !important;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        list-style: none;
    }
    &__section-rating {
        color: var(--color-primary);
        font-size: 2.4rem;
        font-weight: v.$bold;
        margin: 1rem 0;
    }
    &__content {

    }
    &__image-contenedor {
        width: 80%;
        min-width: 300px;
        margin: 0 auto;
        border-radius: 3rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 20px -20px;

        img {
            width: 100%;
            min-width: 300px;
            height: auto;
            object-fit: cover;
        }
    }
    &__text {
        margin-top: 5rem;
        color: var(--color-text);
        line-height: 1.4;
        font-size: 1.75rem;

        p:first-of-type::first-letter {
                font-size: 3em;
                line-height: 1;
                float: left;
                margin-right: 0.1em;
        }
    }
}

.grid-top-left {
    grid-area: top-left;
}
.grid-top-right {
    grid-area: top-right;
    
}
.grid-bottom-left {
    grid-area: bottom-left;
}
.grid-bottom-right {
    grid-area: bottom-right;
}