@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.header {
    min-height: 30rem;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.4)
        ),
        url('/build/img/header.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;


    &__contenido {
        color: v.$blanco;
        text-align: center
    }
    &__titulo {
        @include m.texto-fluido(4rem, 6rem);
        white-space: nowrap;
        border-bottom: solid 2px v.$principal;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
    }
    &__descripcion {
        color: v.$blanco;
    }
}

