@use 'base/mixins' as m;
@use 'base/variables' as v;

.auth {
    margin: 5rem 0 10rem;
    z-index: 1;
    position: relative;

    &__resalto {
        font-weight: v.$bold;
        text-decoration: underline;
    }
}

.auth--no-style {
    margin: 7rem 0;
}

.auth-contenedor {
    @include m.contenedor-sm;
    margin: 0 auto;
    padding: 3rem 1rem;
    background-color: var(--color-surface);

    @include m.tablet {
        padding: 3rem 5rem;
    }
}