@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

/* ---------- Configuración base interna ---------- */

$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;

$radius: 5rem;
$duration: 350ms;
$ease: cubic-bezier(0.075, 0.82, 0.165, 1);

/* ---------- formularioulario ---------- */

.auth-formulario {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    color: var(--color-text);

    @include m.desktop {
        transform: skewY(-5deg) translateY(0%) scale(0.94);
        transition:
        box-shadow $duration $ease,
        transform $duration $ease;
        border-top: 2px solid var(--color-primary);
        border-bottom: 2px solid var(--color-primary);

        &::before,
        &::after {
            content: '';
            position: absolute;
            inset: 0 auto 0 auto;
            width: 25%;
            background-color: var(--color-surface-extra);
            pointer-events: none;
            transition:
            background-color $duration $ease,
            transform $duration $ease;
            opacity: .95;
        }

        &::before {
            right: 100%;
            transform-origin: 99% 100%;
            transform: skewY(35deg) scaleX(-1);
            z-index: 1;

            margin: -2px;

            border-left: 2px solid var(--color-primary);
            border-top: 2px solid var(--color-primary);
            border-bottom: 2px solid var(--color-primary);
        }

        &::after {
            left: 100%;
            transform-origin: 1% 0;
            transform: skewY(-35deg) scaleX(-1);

            margin: -2px;

            border-right: 2px solid var(--color-primary);
            border-top: 2px solid var(--color-primary);
            border-bottom: 2px solid var(--color-primary);
        }

        &:hover,
        &:focus-within {
            transform: scale(1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

            &::before,
            &::after {
                background-color: var(--color-surface);
                transform: skewY(0);
            }
        }
    }

}

/* ---------- Contenedor ---------- */

.auth-formulario__contenedor {
    background-color: var(--color-surface);
    padding: $space-xl;
    position: relative;
}
