@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.footer {
    background-color: var(--color-surface);

    // GENERAL
    &__contenedor {
        @include m.contenedor;
        padding: 7rem 0 8rem 0;
        display: block;

        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // LOGOTIPO
    &__logotipo {
        @include m.logo;
        justify-content: center;

    }
    &__logo {
        @include m.logo-svg;
    }
    &__titulo {
        @include m.logo-titulo;
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-top: 6rem;

        @include m.tablet {
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
    }

    // Copyright
    &__copyright {
        color: var(--color-text-muted);
        line-height: 1.5;
        font-weight: v.$regular;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        background-color: var(--color-surface-alt);
        border-bottom: 3px solid var(--color-primary);
    }
    &__copyright--bold {
        color: var(--color-primary);
        font-weight: v.$bold;
    }
}

// Redes Sociales
.menu-redes {
    @include m.menu-social(var(--color-text-muted), 2.6rem);
    display: flex;
    gap: 2rem;
    align-items: center;

    &__enlace {
        transition: all .15s ease-in;
        border-bottom: solid 0px var(--color-primary);

        &:hover {
            transform: translateY(-7px) scale(1.2);
            border-bottom: solid 3px var(--color-primary);
        }
    }
}
